
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

/* MATRIX CANVAS ARKA PLAN */
#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

/* ÖNDEKİ SAYFA */
.page-content {
    position: relative;
    z-index: 1;
    color: #fff;
}

/* NAVBAR */
.navbar {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
    fo
